body{
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

/* wrapper */

.kitano-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  line-height: 1.75rem;
  background-image: url(./img/kitano-bg.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* global */

.section-title{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  letter-spacing: .5rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.2;
  -webkit-box-reflect: below -10px -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0) 10%,rgba(0, 0, 0, 0.6));

}

/* header */

.hero{
  background-image: url(./img/haeder-bg.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: table;
  margin-bottom: 2rem;
  font-family: serif;
}

.hero-inner{
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
}

.hero-inner h1{
  font-size: 3rem;
  font-weight: 500;
  margin: .5rem 0;
}

.hero-inner h2{
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  letter-spacing: .25rem;
}

.hero-inner h4{
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  letter-spacing: .25rem;
}

.inner-wrap{
  padding: .5rem;
}

/* concept area */
.concept{
  background: rgba(255, 255, 255, .8);
  text-align: center;
  padding: 1rem;
  font-size: .875rem;
  margin-bottom: 3rem;
}

.concept aside{
  margin: 3rem 0;
}

.concept-lists{
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.concept-lists li{
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;
  padding-bottom: .25rem;
}

.concept-lists li span{
  letter-spacing: .3rem;
  font-weight: bold;
  display: block;
}

.concept-lists li:first-child{
  border-bottom: .25rem solid rgb(52, 168, 203);
}

.concept-lists li:nth-child(2){
  border-bottom: .25rem solid rgb(123, 201, 111);
}

.concept-lists li:nth-child(3){
  border-bottom: .25rem solid rgb(255, 164, 26);
}

.youtube{
  text-align: center;
  margin-bottom: 3rem;
}

.sp-video{
  display: block;
  width: 100%;
  min-height: 300px;
}
.pc-video{
  display: none;
  margin: 0 auto;
}

@media screen and (min-width: 681px) {
  .sp-video{
    display: none;
  }
  .pc-video{
    display: block;
  }
}

/* location */
.location {
  display: flex;
  flex-wrap: wrap;
  padding: .5rem;
  margin-bottom: 3rem;
}

@media screen and (min-width: 680px) {
  .location{
    width: 900px;
    margin : 0 auto;
    margin-bottom: 5rem;
  }
}

.box {
  width: 100%;
  background-color: rgba(255, 255, 255, .8);
  font-size: .85rem;
}

.box > p {
  padding: 1.5rem;
}

.sp-map {
  display: block;
  width: 100%;
  height: 400px;
}

.pc-map {
  display: none;
}

@media screen and (min-width: 681px) {
  .sp-video{
    display: none;
  }
  .pc-video{
    display: block;
    margin-bottom: 5rem;
  }
}

/* image-map */
.image-map{
  padding: 1rem;
  background-color: rgba(255, 255, 255, .8);
  margin-bottom: 3rem;
  font-size: .85rem;
  text-align: center;
}

@media screen and (min-width: 680px) {
  .image-map{
    width: 900px;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.modal-open {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  position: relative;
  background-color: #fff;
  padding: .5rem .5rem .25rem .5rem;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}

.modal-close {
  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.modal-close::before, .modal-close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 10px;
  background: #fff;
}

.modal-close::before {
  transform: translate(-50%,-50%) rotate(45deg);
}

.modal-close::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}

.modal-content .title{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2.5rem;
  margin: 0;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
  text-align: center;
  letter-spacing: .25rem;
}

.modal-content .description{
  position: absolute;
  left: 0;
  right: 0;
  bottom: .5rem;
  font-size: .85rem;
  text-align: center;
  color: #fff;
}

.modal-content img{
  width: 100%;
}

/* floor-map */
.floor-map{
  padding: 1rem;
  background-color: rgba(255, 255, 255, .8);
  margin-bottom: 3rem;
  font-size: .85rem;
}

.title-area{
  border-bottom: 1px solid #aaa;
  text-align: left;
  padding: .5rem;
  margin-bottom: 1rem;
}

.title-area h2{
  margin-bottom: 0;
}

.title-area span{
  font-size: .75rem;
}

.img-area .img-clickable {
  width: calc(33.33% - 10px);
  margin-right: 10px;
}

.img-area .img-clickable:last-child {
  margin-right: 0;
}

@media screen and (min-width: 680px) {
  .floor-map{
    width: 900px;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .floor-inner-wrap{
    display: flex;
    align-items: stretch;
    /* align-items: flex-end; */
  }

  .left-content,
  .right-content {
    flex: 1;
  }

  .left-content{
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
  }

  .img-area{
    display: flex;
    justify-content: space-between;
  }

  .left-content ul{
    padding-left: 1rem;
  }

  .right-content > img{
    aspect-ratio: 1/1;
  }
}

/* for ladies */
.for-ladies{
  padding: 1rem;
  background-color: rgba(211, 190, 208, .8);
  margin-bottom: 3rem;
  font-size: .85rem;
}

.fl-inner{
  border: 3px dotted #fff;
  padding: 1rem;
  color: #fff;
  text-align: center;
}

.ticket-grounp{
  align-items: center;
}

.ticket {
  max-width: 300px;
  min-height: 100px;
  margin: 0 auto;
  background-color: rgba(255,217,0, .5);
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
  position: relative;
}

.ticket::before {
  content: "";
  top: 0;
  left: 0;
  border-bottom: 4em solid transparent;
  border-left: 4em solid rgba(193, 39, 72, .7);
  position: absolute;
  z-index: 100;
}

.ticket:first-child::after {
  content: "特典１";
  display: block;
  top: 10px;
  transform: rotate(-45deg);
  color: #fff;
  left: 0;
  position: absolute;
  z-index: 101;
}

.ticket:nth-child(2)::after {
  content: "特典２";
  display: block;
  top: 10px;
  transform: rotate(-45deg);
  color: #fff; /* 文字色はここで変更 */
  left: 0;
  position: absolute;
  z-index: 101;
}

.ticket-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.tokuten{
  background-color: rgba(255, 0, 0, .5);
  padding: .25rem;
}

.ticket-note {
  font-size: 12px;
  font-weight: normal;
}

@media screen and (min-width: 680px) {
  .for-ladies{
    width: 900px;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
}

/* usecase */
.usecase{
  padding: 1rem;
  background-color: rgba(255, 255, 255, .8);
  margin-bottom: 3rem;
  font-size: .85rem;
}

.usecase .persona{
  font-weight: bold;
  text-align: center;
}

.persona-body{
  margin-bottom: 3rem;
  padding: 0 1rem;
}

.persona-body:last-child{
  margin-bottom: 0;
}

@media screen and (min-width: 680px) {
  .usecase{
    width: 900px;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
}

/* scroll down */
.scrolldown1{
  position:absolute;
  left:50%;
  bottom:30px;
  height:50px;
}

.scrolldown1 span{
  position: absolute;
  left: -15px;
  top: -15px;
  color: #eee;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
}

.scrolldown1::after{
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 30px;
  background: #eee;
  animation: pathmove 1.4s ease-in-out infinite;
  opacity:0;
}

@keyframes pathmove{
  0%{
    height:0;
    top:0;
    opacity: 0;
  }
  30%{
    height:30px;
    opacity: 1;
  }
  100%{
    height:0;
    top:50px;
    opacity: 0;
  }
}

/* plan */

.plan {
  max-width: 900px;
  margin: 0 auto;
  padding: .5rem;
  margin-bottom: 3rem;
  font-size: .85rem;
  background-color: rgba(255, 255, 255, .8);
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.columns > .card {
  /* background-color: #fff; */
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  text-align: center;
  outline-offset: -1px;
  min-height: 350px;
  border-bottom: 1px solid grey;
}

.columns > .card:last-child{
  border-bottom: 0;
}

@media screen and (min-width: 680px) {
  .columns > .card {
    border-bottom: 0;
  }

  .columns .card:nth-child(2){
    border-left:1px solid grey;
    border-right:1px solid grey;
  }
}

.columns > .card > .card-content{
  height: 100%;
}

.columns > .card > h4 {
  color: #444;
  font-size: 1rem;
  font-weight: 500;
}

.columns > .card > .price {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
  /* background-color: #fff; */
}

.columns > .card > .price > p > .yen{
  margin-left: 1rem;
}

.columns > .card > .price > p > .yen,
.columns > .card > .price > p > span.month{
  font-size: 1rem;
  font-weight: 400;
}

.columns > .card > .price > p:nth-child(2){
  font-size: 1rem;
  font-weight: 400;
  padding: .5rem;
}

.columns > .card > .card-content {
  border-radius: 0 0 .75rem .75rem;
  padding: 1rem;
  /* background-color: #fff; */
  height: auto;
}

@media screen and (min-width: 681px) {
  .columns {
    justify-content: space-between;
  }
  .columns > .card {
    width: calc(33.33% - 20px);
  }
}

/* service */
.service{
  padding-top: 2rem;
  padding: .5rem;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 3rem;
  background-color: rgba(255, 255, 255, .8);
}

.service-row{
  gap: 1rem;
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
}

.service img{
  width: 100px;
}

.service-inner{
  width: 33%;
  padding: 1rem;
  text-align: center;
  aspect-ratio: 1/1;
  margin: 0 auto;
  border-bottom: 1px solid grey;
}

.service-row:last-child > .service-inner:nth-child(n+2){
  border-bottom: none;
}

.service-title{
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.service-body{
  font-size: .85rem;
  font-weight: 400;
}

@media screen and (max-width: 680px) {
  .service-row{
    flex-direction: column;
    margin-bottom: 0;
  }

  .service-inner{
    text-align: center;
    width: auto;
    aspect-ratio: auto;
  }

  .service-inner > h3{
    margin-bottom: 0;
  }

  .service-inner > .service-body{
    padding: 0;
  }

  .service-row:last-child > .service-inner:nth-child(n+2){
    display: none;
    border-bottom: none;
  }

  .service-row:last-child > .service-inner{
    border-bottom: none;
  }
}

/* .service-row:last-child .center,
.service-row:last-child .right{
  border: .2rem #dfdfdf solid;
} */

/* faq */
.faq{
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 5rem;
  background-color: rgba(255, 255, 255, .8);
  font-size: .85rem;
}

.faq .section-title{
  padding-top: 2rem;
}

.faq .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.faq .accordion:hover {
  background-color: #ccc;
}

.faq .active {
  background-color: #ccc;
}

.faq .panel {
  margin: 0;
  padding: 1rem;
  display: none;
  background-color: white;
  overflow: hidden;
}

.question{
  font-weight: 600;
  margin-right: .5rem;
}

/* slide */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

@media screen and (min-width: 681px) {
  .slideshow-container {
    width: 800px;
    padding: .5rem;
  }
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 1rem;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.caption-text {
  color: #f2f2f2;
  font-size: .85rem;
  padding: .5rem 0;
  position: absolute;
  bottom: .5rem;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, .6);
}

@media screen and (min-width: 681px) {
  .caption-text {
    width: 800px;
    padding: .5rem 0;
    bottom: 1rem;
  }
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot-area{
  text-align: center;
  margin-bottom: 3rem;
}

.dot {
  cursor: pointer;
  height: .5rem;
  width: .5rem;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* company */
.company {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 5rem;
  background-color: rgba(255, 255, 255, .8);
}

.company table tr th,
.company table tr td {
  border-bottom: none;
  display: block;
  padding: 1rem;
}

.company table tr th {
  background-color: #eee;
}

/* cta */
.cta-wrap{
  padding: .5rem;
  margin-bottom: 5rem;
}

.cta {
  border: 3px solid #3f8cba;
  background-color: rgba(255, 255, 255, .8);
  padding: 1.5rem;
  padding-bottom: 1rem;
  line-height: 1.5rem;
  max-width: 800px;
  margin: 0 auto;
  font-size: .85rem;
}

.cta h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 2rem;
}

.cta article {
  background-color: #bbb;
  border-radius: 0.3rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.cta section {
  width: 100%;
  margin-bottom: 1rem;
}

.cta a.button {
  display: block;
  margin: 0 auto;
  line-height: 3rem;
  font-size: larger;
  background-color: #3f8cba;
  color: #fff;
  text-align: center;
  border-radius: .25rem;
  padding: .5rem 3rem;
  width: fit-content;
  text-decoration: none;
}

.cta a.button:hover  {
  display: block;
  margin: 0 auto;
  line-height: 3rem;
  font-size: larger;
  background-color: #285b79;
  color: #fff;
  text-align: center;
  border-radius: .25rem;
  padding: .5rem 3rem;
  width: fit-content;
  text-decoration: none;
}

.cta .boxie {
  color: grey;
  text-align: left;
  margin: 0;
}

.cta .boxie p {
  padding: 1rem;
}

/* scroll top */
.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .6);
  color: #fff;
  font-size: 1.5rem;
}

/* 360 */

.wrap360{
  margin-bottom: 1rem;
}

.ricoh-theta-spherical-image{
  margin: 0 auto;
}

#share-button{
  display: none;
}

.ricoh-theta{
  display: none;
}